<div class="row">
  <div class="col-lg-6 col-md-9 col-lg-offset-3 col-md-offset-3">
    <h1>Rješeni matematički zadatci s fakulteta </h1>
    
    <%= form_tag zadataks_path, :method => 'get', :autocomplete => 'on', class: "search" do %>
      <div class="input-group">
        <%= text_field_tag :tag, nil, {"data-autocomplete-source": Tag.order(:name).map(&:name).to_json, "class": "form-control", "placeholder": "Koja vrsta zadatka?", "autofocus": true} %>
        <span class="input-group-btn">
          <%= submit_tag "Traži", :name => nil, class: "btn btn-default" %>
        </span>
      </div><!-- /input-group -->
    <% end %>
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->

