<% provide(:title, @user.name) %>
<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>

<p>
  <%= @user.email %>
</p>

<button type="button" class="btn btn-default" data-toggle="modal" data-target="#pitanjeModal">Postavi pitanje</button>

<%= render template: 'questions/new' %>
