<%= form_for(@contact) do |f| %>
<div class="form-group">
  <div id="pitanjeModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Pitanje</h4>
        </div>
              
        <div class="modal-body">
            <%= f.text_field :email, {'class': "form-control", 'placeholder': 'Unesi email na koji ti mogu odgovoriti'} %>
          <%= f.text_area :body, {'class': "form-control", 'rows': '4', 'maxlength': '200', 'placeholder': 'Najviše 200 znakova, a možete mi poslati i sliku zadatka.'} %>
        </div>
        <div class="modal-footer">
          <%= f.submit class:"btn btn-info", value:"Pošalji" %>
        </div>
      </div>
  
    </div>
  </div>
</div>
<% end %>
