<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "ISPITI", root_path, class: "navbar-brand" %>
      </div>
      
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to signup_path, remote: true, data: {toggle: "collapse", target: "#myNavbar"} do %>
                <span class="glyphicon glyphicon-user"></span> Sign Up
            <% end %>
          </li>
          <% if !logged_in? %>         
          <li>
            <%= link_to login_path, remote: true, data: {toggle: "collapse", target: "#myNavbar"} do %>
                <span class="glyphicon glyphicon-log-in"></span> Login
            <% end %>
          </li>
          <% end %>        
        </ul>
      </div>
      
  </div>
</header>